body {
    background-color: rgb(236, 206, 165);
    font-family: sans-serif;}
.title {
    text-align: center;
    border-bottom: solid black 3px;}
.link {
font-weight: 700;}
img {
    display: block;
    width: 500px;
    margin: auto;
    border: solid white 2px;}
ol, 
ul {
    line-height: 150%;}